<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Current Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center">
  <ion-progress-bar id="progress" value="0" color="success"></ion-progress-bar>
  <div id="board">
    <div id="row0" class="row">

      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">

    </div>
    <div id="row1" class="row">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
    </div>
    <div id="row2" class="row">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
    </div>
    <div id="row3" class="row">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
      <img src="../../assets/IMG/pokemon.jpeg" class="card">
    </div>
  </div>
</ion-content>