

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    width: 120px;
    height: 168px;
    margin:3px;
    border-radius:10px;
    cursor: pointer;
}

#board{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

@media only screen and (max-width:500px){
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card{
        width: 60px;
        height: 84px;
        margin:3px;
        border-radius:10px;
        cursor: pointer;
    }
}