<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Current Game
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar id="progress" value="0" color="primary"></ion-progress-bar>

</ion-header>

<ion-content [fullscreen]="true" class="center">
  <div id="board">
    <div id="row0" class="row">

      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="0-0">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="0-1">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="0-2">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="0-3">

    </div>
    <div id="row1" class="row">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="1-0">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="1-1">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="1-2">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="1-3">
    </div>
    <div id="row2" class="row">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="2-0">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="2-1">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="2-2">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="2-3">
    </div>
    <div id="row3" class="row">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="3-0">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="3-1">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="3-2">
      <img src="../../assets/IMG/pokemon.jpeg" class="card" id="3-3">
    </div>
  </div>
</ion-content>


<!-- 
  https://pokeapi.co/api/v2/pokemon/4/ 
  https://pokeapi.co/api/v2/pokemon/1/
  https://pokeapi.co/api/v2/pokemon/7/
  https://pokeapi.co/api/v2/pokemon/95/
  https://pokeapi.co/api/v2/pokemon/25/
  https://pokeapi.co/api/v2/pokemon/18/
  https://pokeapi.co/api/v2/pokemon/92/
-->