<ion-header [translucent]="true">
  <ion-toolbar class="tittle">
    <ion-title slot="start">
      Current Game <ion-icon name="volume-high-outline" (click)="myAudio.play()" slot="end" class="icon"></ion-icon>
      <ion-icon name="volume-mute-outline" (click)="myAudio.pause()" slot="end" class="icon"></ion-icon>
    </ion-title>

  </ion-toolbar>
  <ion-progress-bar id="progress" value="0" color="primary"></ion-progress-bar>

</ion-header>

<audio id="sound" loop="loop" #myAudio>
  <source src="https://vgmsite.com/soundtracks/pokemon-2.b.a.-master/fikbouajvi/01%20-%20Pok%C3%A9mon%20Theme.mp3" type="audio/mpeg" />
</audio>

<ion-content [fullscreen]="true" class="center">

  <div class="box">
    <h1>Music</h1>
    <div>
      <ion-icon name="volume-high-outline" (click)="myAudio.play()" slot="end" class="icon"></ion-icon>
      <ion-icon name="volume-mute-outline" (click)="myAudio.pause()" slot="end" class="icon"></ion-icon>
    </div>
  </div>
  <div id="board" *ngFor="let bob of board[0]; let x = index">
    <div id="row{{x}}" class="row " *ngFor="let card of board[x]; let y = index " (click)="cardClicked($event)" >
      <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front"><img src="../../assets/IMG/pokemon.jpeg" id="{{x}}-{{y}}"></div>
        <div class="card__face card__face--back"> <img [src]="card" id="{{x}}-{{y}}-image" class="img"></div>
      </div>
    </div>
     
    </div>

  </div>

  
</ion-content>


<!-- 
  https://pokeapi.co/api/v2/pokemon/4/ 
  https://pokeapi.co/api/v2/pokemon/1/
  https://pokeapi.co/api/v2/pokemon/7/
  https://pokeapi.co/api/v2/pokemon/95/
  https://pokeapi.co/api/v2/pokemon/25/
  https://pokeapi.co/api/v2/pokemon/18/
  https://pokeapi.co/api/v2/pokemon/92/
-->