html, body {
    height: 100vh;
    margin: 0px;
}

ion-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ion-card {
    // height: 25vh;
    width: 50%;
    // min-width: 380px;
    // margin-bottom: 0px;

    ion-card-title {
        text-align: center;
        
    }
    ion-button {

    }
}